:root {
    --light-background: #FBF7F7;
    --soft-green: #B0C795;
    --teal: #127475;
    --dark-navy: #071324;
    --soft-green-background: #dde9cf;
}

* {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    * {
    scroll-behavior: smooth;
  }
}

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:medium;
}

 .pattern {
    display: grid;
    justify-content: center;
    /* border: 1px solid blue; */
}  

.background-img-div {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 350px; 
    width: 300px;  
}

#background-img-div-socks {
    background: var(--light-background) url(https://images4-f.ravelrycache.com/uploads/craftyManu/793978829/20210622_155527_medium.jpg) no-repeat center;
    background-size: contain;
}

#background-img-div-mittens {
    background: var(--light-background) url(https://mimostejidosartesanales.files.wordpress.com/2020/04/imagen1-3.png) no-repeat center; 
    background-size: cover;
}

.semi-transparent-div {
    background-color: rgba(255, 255, 255, 0.4);
    /* -webkit-backdrop-filter: blur(5px); */
    backdrop-filter: blur(5px);
    padding: 1rem;
    margin: 0.5rem;
    font-weight: bold;
}





.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* grid display: */

[class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.align-right {
    justify-content: right;
}

.row {
    padding: 0;
    margin: 0;
}




* {
    box-sizing: border-box;
}

.morePadding {
  padding: 0.2rem 0 0.2rem 0.3rem;
}

body {
    background-color: #FBF7F7;
}

h1, h2, legend {
    font-family: Verdana, sans-serif;
    color: #127475;
  }

#topTitleDiv {
    display: flex;
    /* background-color: rgb(205, 226, 222); */
    justify-content: space-evenly;
    flex-direction: column;
}
/* #lightSwitchDiv {
    background-color: rgb(241, 241, 130);
} */

h1 {
    text-align: center;
    font-size: 1em;
}

h2 {
    border-top: 0.1em solid #B0C795;
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 0.85em;
}

legend {
    font-weight: bold;
    font-size: 0.85em;;
}

label {
    font-size: 1.05rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: monospace, Arial, Helvetica, sans-serif;
}
.images {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

#measurements-fieldset {
    max-width: 90vw;

}

#MeasurementsImage1 {
 /* width: 14rem; */
 width: 0px;
 height: 0px;
 margin: 0.2rem;
 border-radius: 5rem;
}
#MeasurementsImage2 {
  width: 10rem;
  margin: 0.2rem;
  background-color: rgb(245, 245, 245);
  padding: 0.1em 0.1em 0.3em 0.1em;
}

#MeasurementsImage3 {
  width: 5rem;
  margin: 0.2rem;
}


div {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.metricVsImperial {
    display: inline-flex;
    box-sizing: inherit;
}

fieldset {
   border: 0.1em outset #B0C795;
   border-radius: 5px;
}

fieldset:not(:first-child) {
    margin: 1em 0;
 }
.MeasurementsRow {
    display: flex;
    flex: wrap;
    padding-left: 0;
    padding-right: 0;
    column-count: 2;
    column-gap: 1rem;
    column-rule: saddlebrown;
    column-rule-style: solid;
}

input {
    appearance: none; /*to prevent default styling*/
    width: 6.25em;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}

select, input {
    font-size: 1rem;
    color:#1d3557;
    padding-left: 0.2rem;
    border-radius: 10px;
    border-width: 0.15rem;
    border-color: var(--soft-green) var(--teal) var(--teal) var(--soft-green);
    border-style: outset solid solid outset;
}


input[type=text] {
    font-size: 1rem; /*To avoid mobile browsers (iOS Safari, et al.) from zooming in on HTML form elements */
    font-family: 'Indie Flower', 'Caveat',Brush Script MT , Georgia;
}

.radioInput { /*input[type="radio"] */
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.1rem solid var(--dark-navy);
    border-radius: 10px;
    /* Adjusts the position of the checkboxes on the text baseline */
    vertical-align: -10px;
    border-color: var(--teal);
    color: green;
}

.dark-mode-radio {
    border-color: var(--soft-green);
    color: var(--light-background);
}

.light-mode-radio {
    border-color: #127475;
    color: green;
}
  

input[type="radio"]::before {
    content: "✔";
    position: absolute;
    font-size: 1.4em;
    right: 2px;
    top: -0.3em;
    top: -0.2em;
    visibility: hidden;
  }
  
  input[type="radio"]:checked::before {
    /* Use `visibility` instead of `display` to avoid recalculating layout */
    visibility: visible;
  }


  input[type="radio"]:disabled {
    border-color: black;
    background: #ddd;
    color: gray;
  }

  #short-row-heel-types {
    margin-top: 1em;
    border: 1px dassed var(--soft-green);
    text-align: right;
    max-width: 100vw;
    border: 0.1rem dashed var(--soft-green)
  }

  #short-row-heel-types legend {
    font-size: 14px;
    text-align: center;
  }

span {
    display: inline-block;
    /* background: yellowgreen; */
}

input:disabled {
    background-color: rgb(172, 172, 172 );
    color: rgb(205, 205, 205)
}

.notes {
    width: 100%;
    font-size: 1.5rem;
    margin-top: 0.3em; 
    font-family: 'Indie Flower', 'Caveat',Brush Script MT , Georgia;
}

textarea {
    font-size: 1rem; /*To avoid mobile browsers (iOS Safari, et al.) from zooming in on HTML form elements */
    background-color: #dde9cf;
}

button, .btnDiv {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.8rem;
    color: #1d3557;
    background-color: #B0C795;
    border: 0.2rem solid #127475;
    border-radius: 4rem;
    padding: 0 0.8rem 0 0.8rem;
    column-span: 2;
    margin: 0 auto;
    margin-top: 0.5em;
    cursor: pointer;
}

button:hover, .btnDiv:hover {
background-color: #127475;
color: white
}
#resetButton {
    margin-bottom: 0.5em;
}
#resetButton:hover {
    background-color: #a50707;
    color: white;
    border-color: white;
    }
    
#darkLightModeButton {
    margin: 0;
    margin-left: 6em;
    background-color: #071324;
    color: whitesmoke;
    float: right;
   
}
#darkLightModeButton:hover {
    background-color: #1d3557;
    color: whitesmoke;
}

button:disabled, .btnDiv:disabled, .disabled{
    background-color: rgb(172, 172, 172 );
    color:white;
    border-color:rgb(172, 172, 172 )
}
#buttonInstructions {
    column-span: 2;
}

/* input:disabled {
    background-color: rgb(172, 172, 172 );
    color: rgb(205, 205, 205)
} */

select:disabled {
    background-color: #B0C795;
    color: #071324; 
    font-weight: bold;
}

.pattern-title {
    text-align: center;
}

/* two columns layout */
.row {
    display: flex;
    flex-wrap: wrap;
    flex: 50%;
  }
  
 .column {
    flex: 50%;
    max-width: 95vw;
  } 



  footer {
      background-color: #B0C795;
      padding: 1rem;
      margin-bottom: 0.5rem;
    font-size: 1.15rem;
    text-align: center;
    font-family:monospace, Arial, Helvetica, sans-serif;
  }

  .sockPattern {
      border-top: 0.06rem dashed #B0C795;
  }

  h4 {
      font-family:  Tahoma, sans-serif, Verdana, Geneva;
  font-size: 1.2rem;
    }

  p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1.1rem;
  }
  .bottomNav {
    margin: 0 auto;
    height: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .topNav {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto; 
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .topNav a {
    float: left;
    display: block;
    color:#1d3557; 
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
    background-color: #b0c79534;
    border-radius: 1em;
    height:2em;
     padding: 0.3em 1em 0 1em;
  }

  .topNav a:hover {
    color:#071324; 
    text-decoration: none;
    background-color: #B0C795;
    border-bottom: 3px solid #127475;
  }
  


  /* scroll to top button: */
  #topButton {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 5em; /* Place the button at the bottom of the page */
    right: 5%; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:#1d3557;
    color: whitesmoke;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 0.5em 0.8em; /* Some padding */
    border-radius: 2em; /* Rounded corners */
    font-size: 1.2em;
}
  
  #topButton:hover {
    background-color: #127475;
  }
  /* end of scroll to top button */

 button:focus, input:focus, select:focus, textarea:focus, .btnDiv:focus {
  box-shadow: none;
  outline: #B0C795 dashed 0.15em;
  outline-offset: .05em;
}

input[type="text"], input[type="number"], select { 
  font-size: 1.25em; /*To avoid mobile browsers (iOS Safari, et al.) from zooming in on HTML form elements */
}

.hidden {
    display: none;
}


/* dark mode style */
body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}
.dark-mode a {
    color: whitesmoke;
    background-color: #1d3557;
}

/* h2 a {
    color: red;
    background-color: yellow;
} */

.dark-mode {
    background-color: #071324;
    color: antiquewhite;
}

.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode legend {
    color:#c7e0aa;
}

.dark-mode footer {
    background-color: #1d3557;
}
/* end of dark mode style*/

/* OVERLAY */
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #1d3557d8;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.container {
  position: relative;
  width: 100%;
}
.container:hover .overlay {
  bottom: 0;
  height: 100%;
}
.img-text {
  /* white-space: nowrap; */
  color: white;
  font-size: 99%;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* index.html css:*/

/* START of theme switch: */
 
 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 4em;
    height: 2em;
    margin: 0.5em 1em 0 1em;
  }
 /* Hide default HTML checkbox */
 .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 1.2em;
    width: 1.2em;
    left: 0.4em;
    bottom: 0.4em;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    /* background-color: #2196F3; */
    background-color: var(--teal);
  }
  input:focus + .slider {
    /* box-shadow: 0 0 1px #2196F3; */
    box-shadow: 0 0 1px var(--teal);
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(1.5em);
    -ms-transform: translateX(1.5em);
    transform: translateX(1.8em);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 2em;
  }
  .slider.round:before {
    border-radius: 50%;
  }

#lightSwitchDiv {
    /* border: 1px solid red;  */
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    overflow: hidden;
    align-self: flex-end;  
    margin-bottom: 0.5rem;
} 

#lightSwitchDiv p {
    font-size: 0.5em;
    color:gray;
    font-weight: normal;
    font-family:'Courier New', Courier, monospace
}
/* END of theme switch: */

.light-selected  {
  color:#071324 !important;
  font-weight: bold !important; 
}
.dark-selected  {
    color: antiquewhite !important;
    font-weight: bold !important;
}

.row {
    display: flex;
}

label {
    font-size: 1.05rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: monospace, Arial, Helvetica, sans-serif;
} /* makes the switch button smaller and aligns the text*/

body {
    background-color: var(--light-background);
    padding: 0;
}

.parent {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(301px, auto));
    gap: 0.5rem;
}

.footImages img {
    border-radius: 10px;
}

/* Responsive Design: */

@media (max-width: 500px) {
    .MeasurementsRow {
         flex-direction: column;
     }
    }

@media (max-width: 800px) {
   .row {
        flex-direction: column;
    }
    #MeasurementsImage {
        width: 12rem;
    }
    .topNav {
        flex-direction: column;
    }
    .topNav a {
        flex: 100%;
        margin-top: 0.2em;
    }
    #short-row-heel-types {
        max-width: 90vw;
    }
}

@media (max-width: 1000px) {
    .row {
        flex-direction: column;
      }
      .column {
        flex: 100%;
      }  
      .topNav {
        width: 80%;
     }
}

@media screen and (max-width: 600px) /* Smartphone */ { 
    .footImages {
        display: block;
    }
    .footImages img {
        max-width: 60%;
        max-height: 40vh;
    }
}

@media screen and (min-width: 600px) /**/ { 
    .footImages {
        display: grid;
        gap: 10px;
        grid-template-columns: auto auto auto auto;
        max-width: 80vw;
    }
    .footImages img {
        max-width: 30vw;
        max-height: 40vh;
        text-align: center;
        align-items: center;
    }

    .footImages .container {
        align-self: center;
    }
}
